/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.para__item {
    display: flex;
    align-items: center;
}

.para__item__text {
    margin-right: auto;
}

.para__item__type {
    background-color: var(--interactive-accent);
    color: var(--text-on-accent);
    padding: var(--size-2-2) var(--size-2-3);
    border-radius: var(--radius-s);
    font-size: var(--font-ui-smaller);
}
